$grid: 32px;
$hoverColor: rgb(240, 100, 180);
$hoverBgColor: rgba(0, 0, 0, 0.6);

@mixin gradient($property, $gradient_type, $params...) {
  #{$property}:    -moz-#{$gradient_type}-gradient($params);
  #{$property}:  -khtml-#{$gradient_type}-gradient($params);
  #{$property}: -webkit-#{$gradient_type}-gradient($params);
  #{$property}:     -ms-#{$gradient_type}-gradient($params);
  #{$property}:         #{$gradient_type}-gradient($params);
}

@mixin menulink {
  padding: 2px 0.5em;

  a{
    border-radius: 4px;
    color: blue;
    line-height: 1.1em;
    padding: 2px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;

    &:hover, &:focus {
      background: $hoverBgColor;
      color: $hoverColor;
    }
  }
}

@mixin navigation($background, $hover_background) {
  ul {
    background: $background;
    border-radius: 4px;
    display: block;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    padding: 0;

    &:hover, &:focus { background: $hover_background; }

    li {
      @include menulink;
      display: inline-block;
      margin: 0.6em 0.1em;
    }
  }
}
