html, body {
  margin: 0;
  padding: 0; }

body {
  background-attachment: fixed;
  font-family: "Alef", sans-serif; }

h2 {
  box-shadow: 0 -1px 1px #ddd; }

figure {
  display: inline-block;
  position: relative; }
figure figurecaption {
  display: block;
  font-size: smaller;
  opacity: 0.8; }

img {
  max-width: 100%; }

table th, table td {
  border: 1px solid gray; }

.container {
  background: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  margin: 0 auto;
  padding: 32px;
  position: relative;
  width: 1024px; }
.container .global_nav ul {
  background: rgba(255, 180, 100, 0.8);
  border-radius: 6px;
  display: block;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  padding: 0; }
.container .global_nav ul:hover, .container .global_nav ul:focus {
  background: #ff78e6; }
.container .global_nav ul li {
  display: inline-block;
  margin: 0.6em 0.1em;
  padding: 2px 0.5em; }
.container .global_nav ul li a {
  border-radius: 4px;
  color: blue;
  line-height: 1.1em;
  padding: 2px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
.container .global_nav ul li a:hover, .container .global_nav ul li a:focus {
  color: #7878ff; }

.lang {
  font-size: smaller;
  margin-bottom: 2px;
  position: relative; }

.breadcrumb {
  padding: 2px 0.5em;
  color: gray;
  font-size: smaller; }
.breadcrumb a {
  border-radius: 4px;
  color: blue;
  line-height: 1.1em;
  padding: 2px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
.breadcrumb a:hover, .breadcrumb a:focus {
  color: #7878ff; }

@-webkit-keyframes animateLogo {
  0% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@keyframes animateLogo {
  0% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

.header {
  background: rgba(255, 153, 153, 0.4);
  background-image: url("../images/backgrounds/chidori_circle_2.jpg");
  border-radius: 8px;
  height: 136px;
  position: relative; }
.header h1 {
  font-size: xx-large;
  line-height: 112px;
  margin: 0;
  position: relative;
  text-align: center; }
.header h1 small {
  display: block;
  font-size: small;
  line-height: 1em;
  margin: 0;
  position: relative;
  top: -1em; }
.header .logo {
  -webkit-animation: animateLogo 0.5s ease-in-out 0s 1 normal;
  animation: animateLogo 0.5s ease-in-out 0s 1 normal;
  display: block;
  height: 112px;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  width: 112px;
  z-index: 1000; }
.header .logo:hover, .header .logo:focus {
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg); }
.header .logo img {
  height: 100%;
  width: 100%; }
.header .tagline {
  left: 0;
  position: absolute;
  top: 112px; }

.main {
  overflow: hidden; }
.main .local_nav ul {
  background: rgba(0, 255, 200, 0.4);
  border-radius: 6px;
  display: block;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  padding: 0; }
.main .local_nav ul:hover, .main .local_nav ul:focus {
  background: rgba(0, 255, 120, 0.8); }
.main .local_nav ul li {
  display: inline-block;
  margin: 0.6em 0.1em;
  padding: 2px 0.5em; }
.main .local_nav ul li a {
  border-radius: 4px;
  color: blue;
  line-height: 1.1em;
  padding: 2px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
.main .local_nav ul li a:hover, .main .local_nav ul li a:focus {
  color: #7878ff; }

.aside {
  float: left;
  position: relative;
  width: 256px; }
.aside .news {
  padding: 0; }
.aside .news li {
  padding: 2px 0.5em;
  display: block; }
.aside .news li a {
  border-radius: 4px;
  color: blue;
  line-height: 1.1em;
  padding: 2px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
.aside .news li a:hover, .aside .news li a:focus {
  color: #7878ff; }
.aside .facebook {
  color: blue;
  overflow: hidden; }
.aside .facebook img {
  display: block;
  float: left;
  height: 32px;
  width: 32px; }
.aside .facebook div {
  border-radius: 0 2px 2px 0;
  float: left;
  height: 32px;
  padding: 0 2px 0 0.5em;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
.aside .facebook div:hover, .aside .facebook div:focus {
  background: #3b5b99;
  color: white; }

.content {
  background: rgba(255, 255, 255, 0.6);
  float: right;
  position: relative;
  width: 768px; }
.content .share {
  text-align: right; }

.footer {
  border-top: 1px solid gray;
  clear: both;
  color: gray;
  font-size: smaller;
  margin-top: 32px;
  position: relative;
  padding: 2px 0.5em; }
.footer a {
  border-radius: 4px;
  color: gray;
  line-height: 1.1em;
  padding: 2px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
.footer a:hover, .footer a:focus {
  color: blue; }
.footer .menu {
  overflow: hidden; }
.footer .menu ul {
  float: left;
  margin: 0;
  padding: 0;
  width: 25%; }
.footer .menu ul li {
  display: block; }
.footer .copyright {
  clear: both;
  text-align: center;
  color: black; }
