@charset "utf-8";
@import "helpers";

@-webkit-keyframes animateLogo {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes animateLogo {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

figure {
  display: inline-block;
  position: relative;

  figurecaption {
    display: block;
    font-size: smaller;
    opacity: 0.8;
  }
}

table {
  thead { background: $nav_bg_color; }

  th, td { border: 1px solid #666; }
}

img { max-width: 100%; }

a {
  color: #3b8bba;

  &:visited { color: #265778; }
}

body {
  background-attachment: fixed;

  &.ja { font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif; }

  &.en { font-family: "Alef", sans-serif; }

  & > header {
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
}

.container {
  margin: 0 auto;
  position: relative;
  top: $menu_height * 2;
  width: $cols16;

  & > article {
    background: rgba(255, 255, 255, 0.8);
    overflow: hidden;
    padding: 0 5mm $menu_height 5mm;
    & > article{
      ul,ol{
        list-style-position: inside;
      }
    }
  }

  & > footer {
    background: rgba(255, 255, 255, 0.6);
    color: #666;
    font-size: small;
    padding: 0 5mm;
  }
}

.global-nav {
  background: rgb(255, 219, 238);
  height: $menu_height;
  border-bottom: solid 1px transparent;
  @include navigation;

  .logo-span {
    padding: 0;
    width: $menu_height;
  }

  .logo {
    -webkit-animation: animateLogo 0.5s ease-in-out 0s 1 normal;
            animation: animateLogo 0.5s ease-in-out 0s 1 normal;
    display: inline;
    -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
    overflow: hidden;
    position: absolute;

    &:hover, &:focus {
      -webkit-transform: rotate(5deg);
              transform: rotate(5deg);
    }

    img {
      height: $menu_height;
      min-width: $menu_height;
    }
  }
}

.local-nav {
  background: $nav_bg_color;
  @include navigation;
}

.breadcrumb {
  font-size: small;
  @include navigation;

  a {
    color: #000;

    &:hover, &:focus { color: #666; }

    &:after { content: ' >'; }
  }
}

/*
  Style overrides for IE6-8
  http://jonikorpi.com/leaving-old-IE-behind/
*/

.ie {
}


/*
  An easy way to zoom your entire layout in or out (as long as it's set in ems).
  Just change the media queries to activate them.
  Assuming your base font-size is 16:
  - the first one zooms out by a factor of (16-2)/16 = 0.875
  - the second one zooms in by a factor of (16+2)/16 = 1.125
*/

// @media screen and (max-width: 1px) {
//   body {
//     font-size: ($font-size - 2) / $em;
//   }
// }
//
// @media screen and (max-width: 1px) {
//   body {
//     font-size: ($font-size + 2) / $em;
//   }
// }

@media screen and (max-width: $cols16 + 2em) {
  .container { width: $cols12; }
}

@media screen and (max-width: $cols12 + 2em) {
  .container { width: $cols8; }
}

@media screen and (max-width: $cols8 + 2em) {
  .container { width: $cols6; }
}
